        <div ng-show="(currentPatient)"class="col-md-8" >
          <ul class="nav nav-pills">
              <li ng-class="{ 'active':isSet('ri_pause') }">
                <a href="" ng-click="setTab('ri_pause')">Respiratory Pause Map</a>
              </li>
              <li ng-class="{ 'active':isSet('hr') }">
                <a href="" ng-click="setTab('hr')">Heart Rate Variation Map</a>
              </li>
              <li ng-class="{ 'active':isSet('spo2') }">
                <a href="" ng-click="setTab('spo2')">SpO2 Variation Map</a>
              </li>
            </ul>
        </div>
